body{
    /* background :linear-gradient(45deg,rgb(239, 170, 41),aliceblue,green); */
    background-color: none;
    background-image:  linear-gradient(rgb(0,0,0,0.8),rgb(0,0,0,0.8)),url(gateway\ of\ india.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
img{
    /* width:400px; */
    /* width: 50vw; */
    /* height:70vh; */
    border: 2px solid white;
    border-radius: 20px;
    /* align-content: center; */
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      
}
h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* color:rgb(0, 0, 0); */
    color: white;
    list-style: circle;
}
h3 img{
    width: 23px;
  height: 22px;
  border: 2px solid black;
  border-radius: 20px;
  position: relative;
  top: -22px;
  left: -655px;
}
.monument{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    /* color: rgb(0, 0, 0); */
    color : white;
}
a{
    color: white;
}